.calculator {
  padding: 51px 0;
}
.calculator_title {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#e94f4f), color-stop(#ef7421), color-stop(#dc9f00), color-stop(#afc800), to(#54ed39));
  background-image: linear-gradient(to right, #e94f4f, #ef7421, #dc9f00, #afc800, #54ed39);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.calculator_wrapper {
  padding: 30px 20px 40px 20px;
  background: rgba(146, 242, 255, 0.15);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.calculator_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.calculator_btn {
  width: 170px;
  height: 50px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: none;
  text-align: center;
  cursor: pointer;
  color: #000000;
}
.calculator_btn-active {
  background: #54ed39;
  color: #ffffff;
}
.calculator_choose ul {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.calculator_choose ul input {
  width: 170px;
  height: 50px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  outline: none;
  border: none;
  color: #757575;
}
.calculator_list button {
  width: 200px;
}
.calculator_box {
  position: relative;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.calculator #gender::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url(../icons/switch.svg) center center/cover no-repeat;
}
.calculator hr {
  width: 40%;
  margin: 40px auto;
}
.calculator_kall {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#e04646), color-stop(#9b451d), color-stop(#5d390c), color-stop(#2e250b), to(#0a0a08));
  background-image: linear-gradient(to left top, #e04646, #9b451d, #5d390c, #2e250b, #0a0a08);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.calculator_kall span {
  margin-right: 10px;
  font-size: 42px;
  line-height: 49px;
}
.calculator_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}/*# sourceMappingURL=calculator.css.map */