@media (max-width: 1800px) {
  .container {
    max-width: 1130px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header {
    padding: 0 40px;
  }
  .header_left-block {
    gap: 60px;
  }
  .preview {
    h3 {
      padding: 20px;
    }
  }
  .preview_tab {
    width: 600px;
  }
  .preview_tab-content {
    width: 890px;
  }
  .preview_tab-descr {
    bottom: -35%;
    right: -35%;
    padding: 25px;
    width: 600px;
  }
  .preview_tab-header {
    h3 {
      margin: 0;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .header_btn {
    padding: 15px 25px;
  }
  .header_nav a {
    font-size: 11px;
  }
  .preview_tab-content {
    width: 710px;
    flex-direction: column-reverse;
    padding-bottom: 75px;
    background-color: #fff;
  }
  .preview_tab-header {
    width: 89%;
  }
  .preview_tab-header_list {
    align-items: center;

    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding: 20px;
    border-left: none;
    border-bottom: 1px solid #000000;
  }
  .preview_tab {
    margin: 0 auto;
  }
  .preview_tab-descr {
    bottom: -30%;
    right: -9%;
  }
  hr {
    margin-top: -40px;
  }
  .preview_tab-header {
    text-align: center;
  }

  .offer_block-left {
    max-width: 60%;
  }
  .title {
    font-size: 24px;
  }
  .descr {
    font-size: 15px;
  }
  .offer__advantages {
    display: none;
  }
  .offer__slider {
    margin: 0 auto;
  }
  .calculator_list button {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header_nav {
    display: none;
  }
  .preview_tab-content {
    width: 100%;
  }
  .preview_tab {
    width: 100%;
  }
  .preview_tab-descr {
    width: 470px;
    right: -2px;
    padding: 20px;
    p {
      font-size: 18px;
      line-height: 25px;
    }
  }
  .offer__slider-wrapper {
    max-width: 350px;
  }
  .offer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .offer_block-left {
    max-width: 80%;
  }

  .calculator_choose ul {
    flex-wrap: wrap;
    gap: 20px;
  }
  .calculator_list button {
    width: 200px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .header {
    padding: 0 10px;
  }
  .header_logo img {
    width: 85px;
  }
  .header_btn {
    font-size: 15px;
    padding: 15px 20px;
  }

  .preview_tab-header_list {
    padding: 0;
    padding-bottom: 10px;
  }
  .preview_tab-header {
    padding: 30px 10px;
  }
  .preview_tab-descr {
    width: 290px;
    height: 150px;
    overflow: scroll;
    bottom: -31%;
    right: 0;
  }
  .preview_tab-header-item {
    font-size: 15px;
  }
  .preview_tab-header-item_active {
    font-size: 18px;
  }

  .title {
    font-size: 20px;
  }
  .offer_descr {
    margin-top: 10px;
  }
  .offer__slider-counter {
    margin: 0;
    width: auto;
  }
  .offer__slider {
    margin: 0;
    margin-top: 20px;
    align-self: end;
  }
  .offer_btn {
    display: none;
  }
  .btn {
    width: 160px;
    height: 50px;
    padding: 10px;
  }
  .title {
    font-size: 16px;
  }
  .descr {
    font-size: 14px;
    line-height: 18px;
  }
  .preview hr {
    margin-top: 30px;
  }
  .preview {
    padding: 28px 0 0px 0;
  }
  .offer {
    padding: 60px 0 15px 0;
  }
  .offer__slider #current {
    font-size: 30px;
  }
  .offer__slider #total {
    font-size: 16px;
  }
  .bg_blue {
    height: 120%;
  }
  .offer__slider-wrapper {
    max-width: 320px;
  }
  .calculator_total {
    gap: 20px;
  }
  .calculator_kall {
    font-size: 24px;
  }
  .subtitle {
    font-size: 14px;
  }
  .calculator_title {
    font-size: 20px;
  }
}
